In [4]:
import re
import numpy as np
import pandas as pd
import seaborn as sns

train = pd.read_csv('../Dataset/train.csv')
test = pd.read_csv('../Dataset/test.csv')
train.info()
train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
# overview of the data.

 #### 数据缺失
 在对数据做处理之前, 首先可以看到Cabin和Age有一定的缺失率. 
 一般情况下
 1. 对于缺失率极高的特征可以考虑舍弃,作为特征加入可能反而是带来noise
 2. 如果缺失的适中,而且是非连续值的特征属性,可以考虑NaN作为新类别加入.
 3. 如果缺失的适中,而且是连续值的特征属性,可以考虑一个step后,数据离散化
 4. 或者有时候缺失的不多, 我们来尝试拟合一下
 
 在这个例子里,我们尝试用Yes/No 来表示Cabin 有无缺失; 对Age来进行拟合

In [11]:
def set_missing_age(dataset):
    # all Numerical feature
    age_data = dataset[['Age','Fare','Parch','SibSp','Pclass']]
    print(type(age_data))
    # group into know and unknow
    know_age = age_data[age_data.Age.isnotnull()].as_matrix()
    unknow_age = age_data[age_data.Age.isnull()].as_matrix()

set_missing_age(train)

<class 'pandas.core.frame.DataFrame'>

AttributeError: 'Series' object has no attribute 'isnotnull'

reference link: 
https://blog.csdn.net/han_xiaoyang/article/details/49797143
https://zhuanlan.zhihu.com/p/31743196
https://www.kesci.com/home/project/5bfe39b3954d6e0010681cd1